@import url('keyframes.css');
@import url('transition.css');
@import url('paw.css');

.wraper{
    display: flex;
    padding: 20px;
}
.blue,.violete{
    width: 5px;
    height: 5px;
    margin: -.5px;
    border-radius: 50%;
    background-color: rgb(99, 146, 177);
    animation: scalator 0.4s infinite alternate ease-in;
}
.violete{
    animation-delay: 0.4s;
    background-color: rgb(104, 23, 104);
}

.lines{
    height: 10px;
    width: 20px;
    background-color: tomato;
    margin-bottom: .5px;
    transition: width 3s, background-color 3s;
}

.lines:hover{
    /* width: 100px;
    background-color: teal; */
}

.lines:active{
    width: 100px;
    background-color: teal;
}